@import './theme';

.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  background: url(../img/pixedevHomeBackground.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15%;
  color: $white;

  @media (max-width: 1400px){
    margin-top: 20%;
  }

  @media (max-width: 1199.99px){
    margin-top: 23%;
  }

  @media (max-width: 899.99px){
    margin-top: 30%;
  }

  @media (max-width: 769.99px){
    margin-top: 38%;
  }
}

.content h1, .content h3 {
  font-weight: 500;
}

.btnCta {
  @include btn-big;
  align-self: center;
  margin-top: 50px;
  width: 320px;
  color: $white;
  background: linear-gradient($black-base, $black-gradient);
  border: 2px solid $white;
  opacity: 0.9;
  &:hover {
    border: 2px solid $logo-green;
    color: $logo-green;
  }
}